In [118]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings(action='ignore')

In [119]:
df=pd.read_csv('water_dataX(4).csv')
df.head()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (umhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   STATION CODE                      1991 non-null   object
 1   LOCATIONS                         1991 non-null   object
 2   STATE                             1991 non-null   object
 3   Temp                              1991 non-null   object
 4   D.O. (mg/l)                       1991 non-null   object
 5   PH                                1991 non-null   object
 6   CONDUCTIVITY (umhos/cm)           1991 non-null   object
 7   B.O.D. (mg/l)                     1991 non-null   object
 8   NITRATENAN N+ NITRITENANN (mg/l)  1991 non-null   object
 9   FECAL COLIFORM (MPN/100ml)        1991 non-null   object
 10  TOTAL COLIFORM (MPN/100ml)Mean    1991 non-null   object
 11  year                              1991 non-null   int64
dtypes: int64(1), object(11)
memory usage: 186.8+ KB

In [121]:
df.head(2)

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (umhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014

In [122]:
df.columns

Index(['STATION CODE', 'LOCATIONS', 'STATE', 'Temp', 'D.O. (mg/l)', 'PH',
       'CONDUCTIVITY (umhos/cm)', 'B.O.D. (mg/l)',
       'NITRATENAN N+ NITRITENANN (mg/l)', 'FECAL COLIFORM (MPN/100ml)',
       'TOTAL COLIFORM (MPN/100ml)Mean', 'year'],
      dtype='object')

In [123]:
df.describe()

              year
count  1991.000000
mean   2010.038172
std       3.057333
min    2003.000000
25%    2008.000000
50%    2011.000000
75%    2013.000000
max    2014.000000

In [124]:
df.isnull().sum()

STATION CODE                        0
LOCATIONS                           0
STATE                               0
Temp                                0
D.O. (mg/l)                         0
PH                                  0
CONDUCTIVITY (umhos/cm)             0
B.O.D. (mg/l)                       0
NITRATENAN N+ NITRITENANN (mg/l)    0
FECAL COLIFORM (MPN/100ml)          0
TOTAL COLIFORM (MPN/100ml)Mean      0
year                                0
dtype: int64

In [125]:
cols = ['Temp', 'D.O. (mg/l)', 'PH', 'CONDUCTIVITY (umhos/cm)', 'B.O.D. (mg/l)',
        'NITRATENAN N+ NITRITENANN (mg/l)', 'FECAL COLIFORM (MPN/100ml)', 'TOTAL COLIFORM (MPN/100ml)Mean']

for col in cols:
    df[col] = df[col].replace(r'^\s*$', 'NAN', regex=True)

In [126]:
df.drop(['year'],axis=1,inplace=True)

In [127]:
df.replace('NAN', 0, inplace=True)
df[df['Temp']=='NAN']

Empty DataFrame
Columns: [STATION CODE, LOCATIONS, STATE, Temp, D.O. (mg/l), PH, CONDUCTIVITY (umhos/cm), B.O.D. (mg/l), NITRATENAN N+ NITRITENANN (mg/l), FECAL COLIFORM (MPN/100ml), TOTAL COLIFORM (MPN/100ml)Mean]
Index: []

In [128]:
df['Temp']=df['Temp'].astype(float)

In [129]:
df.columns

Index(['STATION CODE', 'LOCATIONS', 'STATE', 'Temp', 'D.O. (mg/l)', 'PH',
       'CONDUCTIVITY (umhos/cm)', 'B.O.D. (mg/l)',
       'NITRATENAN N+ NITRITENANN (mg/l)', 'FECAL COLIFORM (MPN/100ml)',
       'TOTAL COLIFORM (MPN/100ml)Mean'],
      dtype='object')

In [130]:
median_temp = df['Temp'].median()
df['Temp'].replace(0,median_temp, inplace=True)

In [131]:
median_temp = df['D.O. (mg/l)'].median()
df['D.O. (mg/l)'].replace(0,median_temp, inplace=True)

In [132]:
df['D.O. (mg/l)'] = pd.to_numeric(df['D.O. (mg/l)'], errors='coerce')

# Compute median ignoring NaNs
median_do = df['D.O. (mg/l)'].median()

# Replace 0 with median
df.loc[df['D.O. (mg/l)'] == 0, 'D.O. (mg/l)'] = median_do

In [133]:
median_temp = df['PH'].median()
df['PH'].replace(0,median_temp, inplace=True)

In [134]:
median_temp = df['CONDUCTIVITY (umhos/cm)'].median()
df['CONDUCTIVITY (umhos/cm)'].replace(0,median_temp, inplace=True)

In [135]:
median_temp = df['B.O.D. (mg/l)'].median()
df['B.O.D. (mg/l)'].replace(0,median_temp, inplace=True)

In [136]:
median_temp = df['NITRATENAN N+ NITRITENANN (mg/l)'].median()
df['NITRATENAN N+ NITRITENANN (mg/l)'].replace(0,median_temp, inplace=True)

In [137]:
median_temp = df['FECAL COLIFORM (MPN/100ml)'].median()
df['FECAL COLIFORM (MPN/100ml)'].replace(0,median_temp, inplace=True)

In [138]:
median_temp = df['TOTAL COLIFORM (MPN/100ml)Mean'].median()
df['TOTAL COLIFORM (MPN/100ml)Mean'].replace(0,median_temp, inplace=True)

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   STATION CODE                      1991 non-null   object
 1   LOCATIONS                         1991 non-null   object
 2   STATE                             1991 non-null   object
 3   Temp                              1991 non-null   float64
 4   D.O. (mg/l)                       1991 non-null   float64
 5   PH                                1991 non-null   object
 6   CONDUCTIVITY (umhos/cm)           1991 non-null   object
 7   B.O.D. (mg/l)                     1991 non-null   object
 8   NITRATENAN N+ NITRITENANN (mg/l)  1991 non-null   object
 9   FECAL COLIFORM (MPN/100ml)        1991 non-null   object
 10  TOTAL COLIFORM (MPN/100ml)Mean    1991 non-null   object
dtypes: float64(2), object(9)
memory usage: 171.2+ KB

In [143]:
Columns = ['D.O. (mg/l)','PH','CONDUCTIVITY (umhos/cm)','B.O.D. (mg/l)',
           'NITRATENAN N+ NITRITENANN (mg/l)','FECAL COLIFORM (MPN/100ml)', 
           'TOTAL COLIFORM (MPN/100ml)Mean']
df[Columns] = df[Columns].astype(float)

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   STATION CODE                      1991 non-null   object
 1   LOCATIONS                         1991 non-null   object
 2   STATE                             1991 non-null   object
 3   Temp                              1991 non-null   float64
 4   D.O. (mg/l)                       1991 non-null   float64
 5   PH                                1991 non-null   float64
 6   CONDUCTIVITY (umhos/cm)           1991 non-null   float64
 7   B.O.D. (mg/l)                     1991 non-null   float64
 8   NITRATENAN N+ NITRITENANN (mg/l)  1991 non-null   float64
 9   FECAL COLIFORM (MPN/100ml)        1991 non-null   float64
 10  TOTAL COLIFORM (MPN/100ml)Mean    1991 non-null   float64
dtypes: float64(8), object(3)
memory usage: 171.2+ KB

In [145]:
df.head(2)

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (umhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203.0,1.8,0.1,11.0,27.0
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189.0,2.0,0.2,4953.0,8391.0

In [146]:
df.drop(['STATION CODE','LOCATIONS'],axis=1,inplace=True)

In [147]:
df.head()

,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (umhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean
0,DAMAN & DIU,30.6,6.7,7.5,203.0,1.8,0.1,11.0,27.0
1,GOA,29.8,5.7,7.2,189.0,2.0,0.2,4953.0,8391.0
2,GOA,29.5,6.3,6.9,179.0,1.7,0.1,3243.0,5330.0
3,GOA,29.7,5.8,6.9,64.0,3.8,0.5,5382.0,8443.0
4,GOA,29.5,5.8,7.3,83.0,1.9,0.4,3428.0,5500.0

In [149]:
df['STATE'].value_counts()

STATE
0                                                   761
KERALA                                              275
MAHARASHTRA                                         142
MEGHALAYA                                           125
GOA                                                 101
                                                   ...
GUMTI AT D/S SOUTH TRIPURA, TRIPURA                   1
CHANDRAPUR, AGARTALA D/S OF HAORA RIVER, TRIPURA      1
MYNTDU JAINTIA HILLS MEGHALAYA                        1
SIMSANG, WILLIAMNAGAR, MEGHALAYA                      1
GANOL, TURA, MEGHALAYA                                1
Name: count, Length: 203, dtype: int64

In [152]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False)

In [156]:
df.columns

Index(['STATE', 'Temp', 'D.O. (mg/l)', 'PH', 'CONDUCTIVITY (umhos/cm)',
       'B.O.D. (mg/l)', 'NITRATENAN N+ NITRITENANN (mg/l)',
       'FECAL COLIFORM (MPN/100ml)', 'TOTAL COLIFORM (MPN/100ml)Mean'],
      dtype='object')

In [158]:
df['STATE'] = df['STATE'].astype(str)

In [162]:
df.rename(columns={
    'D.O. (mg/l)': 'do',
    'PH': 'ph',
    'CONDUCTIVITY (umhos/cm)': 'co',
    'B.O.D. (mg/l)': 'bod',
    'NITRATENAN N+ NITRITENANN (mg/l)': 'na',
    'FECAL COLIFORM (MPN/100ml)': 'fc',
    'TOTAL COLIFORM (MPN/100ml)Mean': 'tc'
}, inplace=True)

In [163]:
df.head(2)

         STATE  Temp   do   ph     co  bod   na      fc      tc
0  DAMAN & DIU  30.6  6.7  7.5  203.0  1.8  0.1    11.0    27.0
1          GOA  29.8  5.7  7.2  189.0  2.0  0.2  4953.0  8391.0

In [ ]:
df['npH'] = df.ph.apply(lambda x: (100 if (8.5 >= x >= 7)
                                       else (80 if (8.6 >= x >= 8.5) or (6.9 >= x >= 6.8)
                                             else (60 if (8.8 >= x >= 8.6) or (6.8 >= x >= 6.7)
                                                   else (40 if (9 >= x >= 8.8) or (6.7 >= x >= 6.5)
                                                         else 0)))))

# %%
# calculation of dissolved oxygen
df['ndo'] = df.do.apply(lambda x: (100 if (x >= 6)
                                       else (80 if (6 >= x >= 5.1)
                                             else (60 if (5 >= x >= 4.1)
                                                   else (40 if (4 >= x >= 3)
                                                         else 0)))))

# %%
# calculation of total coliform
df['nco'] = df.tc.apply(lambda x: (100 if (5 >= x >= 0)
                                       else (80 if (50 >= x >= 5)
                                             else (60 if (500 >= x >= 50)
                                                   else (40 if (10000 >= x >= 500)
                                                         else 0)))))

# %%
# calc of B.D.O
df['nbdo'] = df.bod.apply(lambda x: (100 if (3 >= x >= 0)
                                         else (80 if (6 >= x >= 3)
                                               else (60 if (80 >= x >= 6)
                                                     else (40 if (125 >= x >= 80)
                                                           else 0)))))

# %%
# calculation of electrical conductivity
df['nec'] = df.co.apply(lambda x: (100 if (75 >= x >= 0)
                                       else (80 if (150 >= x >= 75)
                                             else (60 if (225 >= x >= 150)
                                                   else (40 if (300 >= x >= 225)
                                                         else 0)))))

# %%
# Calulation of nitrate
df['nna'] = df.na.apply(lambda x: (100 if (20 >= x >= 0)
                                       else (80 if (50 >= x >= 20)
                                             else (60 if (100 >= x >= 50)
                                                   else (40 if (200 >= x >= 100)
                                                         else 0)))))  else (80 if (8.6 >= x >= 8.5) or (6.9 >= x >= 6.8)
                                             else (60 if (8.8 >= x >= 8.6) or (6.8 >= x >= 6.7)
                                                   else (40 if (9 >= x >= 8.8) or (6.7 >= x >= 6.5)
                                                         else 0)))))

# %%
# calculation of dissolved oxygen
df['ndo'] = df.do.apply(lambda x: (100 if (x >= 6)
                                       else (80 if (6 >= x >= 5.1)
                                             else (60 if (5 >= x >= 4.1)
                                                   else (40 if (4 >= x >= 3)
                                                         else 0)))))

# %%
# calculation of total coliform
df['nco'] = df.tc.apply(lambda x: (100 if (5 >= x >= 0)
                                       else (80 if (50 >= x >= 5)
                                             else (60 if (500 >= x >= 50)
                                                   else (40 if (10000 >= x >= 500)
                                                         else 0)))))

# %%
# calc of B.D.O
df['nbdo'] = df.bod.apply(lambda x: (100 if (3 >= x >= 0)
                                         else (80 if (6 >= x >= 3)
                                               else (60 if (80 >= x >= 6)
                                                     else (40 if (125 >= x >= 80)
                                                           else 0)))))

# %%
# calculation of electrical conductivity
df['nec'] = df.co.apply(lambda x: (100 if (75 >= x >= 0)
                                       else (80 if (150 >= x >= 75)
                                             else (60 if (225 >= x >= 150)
                                                   else (40 if (300 >= x >= 225)
                                                         else 0)))))

# %%
# Calulation of nitrate
df['nna'] = df.na.apply(lambda x: (100 if (20 >= x >= 0)
                                       else (80 if (50 >= x >= 20)
                                             else (60 if (100 >= x >= 50)
                                                   else (40 if (200 >= x >= 100)
                                                         else 0)))))

df.head()
df.dtypes

SyntaxError: unmatched ')' (1747944845.py, line 48)